services:
  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    restart: unless-stopped
    networks:
      - proxy
    hostname: gitlab
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        gitlab_rails['gitlab_shell_ssh_port'] = 2424
        external_url 'https://gitlab.home.${DOMAIN_NAME}'
        letsencrypt['enable'] = false
        nginx['listen_port'] = 80
        nginx['listen_https'] = false
    ports:
      - "2424:22"
    volumes:
      - config:/etc/gitlab
      - logs:/var/log/gitlab
      - data:/var/opt/gitlab
    labels:
      # proxy settings
      - "traefik.enable=true"
      - "traefik.http.routers.gitlab.rule=Host(`gitlab.home.${DOMAIN_NAME}`)"
      - "traefik.http.routers.gitlab.entrypoints=websecure"
      - "traefik.http.services.gitlab.loadbalancer.server.port=80"
      - "traefik.http.routers.gitlab.service=gitlab"
    shm_size: "256m"

networks:
  proxy:
    name: proxy
    external: true
volumes:
  config:
  logs:
  data: